body {
    font-family: 'Open Sans',Helvetica,Arial,sans-serif;
    background-color: rgba(0, 0, 0, 0.9);
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: 0;
}
#fullscreen {
    z-index: -999;
    min-height: 100%;
    min-width: 1024px;
    width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0.5;
}
#avatar {
    height: 180px;
    border-radius: 100%;
    border: 5px solid white;
    margin-bottom: 40px;
}
.content {
    padding-top: 100px;
    padding-bottom: 40px;
    text-align: center;
}
#main-container{
    padding: 40px;
    display: inline-block;
    text-align: left;
    background-color: rgba(0, 0, 0, 0.2);
    max-width: 640px;
    border-radius: 20px;
}
#main-container a{
    color: #4bd9ee;
    padding: 0px;
}
#main-container a:hover{
    text-decoration: underline;
}
h1 {
    color: white;
    font-weight: bold;
    font-size: 4em;
    font-family: 'Open Sans';
    margin: -10px 0;
}
h3 {
    color: white;
    letter-spacing: 0.1em;
    padding-bottom: 20px;
    font-weight: thin;
    font-family: 'Open Sans';
}
p{
    color: white;
    font-family: Open Sans;
    font-size: 1.0em;
}
ul {
    list-style: none;
    padding: 0;
}
li {
    border-radius: 100%;
    border: 2px solid white;
    color: white;
    margin: 8px;
    display: inline-block;
    list-style: none;
    width: 65px;
    height: 65px;
}
li:hover {
    color: white;
    text-decoration: none;
    -webkit-transition: 500ms;
    -moz-transition: 500ms;
    transition: 500ms;
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0.5);
}
a{
    color: white;
    padding: 15px;
    text-decoration: none;
}
.description {
    display: none;
}
hr.border1 {
    border-top: 3px double white;
    width: 30%;
}
hr.border2 {
    border-top: 1px solid #4bd9ee;
    width: 30%;
    margin-bottom: 40px;
}
.button-menu{
    background-color: transparent;
    border: 2px solid white;
    border-radius: 10px;
    text-align: center;
    padding: 8px 20px;
    margin:10px;
    display: inline-block;
    font-size: 1em;
}
.button-menu:hover{
    background-color: rgba(0, 0, 0, 0.5);
    text-decoration: none;
}

#main-container .button-home:link{
    background-color: transparent;
    border: 1px solid #4bd9ee;
    border-radius: 5px;
    text-align: center;
    font-weight: bold;
    padding: 6px 8px;
    font-size: 0.8em;
    float: right;
    color: #4bd9ee
}
#main-container .button-home:hover{
    background-color: rgba(0, 0, 0, 0.5);
    text-decoration: none;
}

@media (max-width: 450px) {
#main-container a{
    color: #4bd9ee;
    padding: 0px;
    border: none;
}
#main-container a:hover{
    text-decoration: underline;
    background: none;
}
#main-container .button-home:link{
    background-color: transparent;
    border: 1px solid #4bd9ee;
    border-radius: 5px;
    text-align: center;
    font-weight: bold;
    padding: 6px 8px;
    font-size: 0.8em;
    float: center;
    color: #4bd9ee
}
#main-container .button-home:hover{
    background-color: rgba(0, 0, 0, 0.5);
    text-decoration: none;
}
ul {
    text-align: center;
}
li {
    border-radius: 0%;
    border: none;
    color: white;
    margin: 8px;
    display: block;
    list-style: none;
    margin: 10px 0px;
    text-align: center;
    height: auto;
    width: auto;
}
li:hover {
    background-color: none;
    transition: none;
}
a {
    text-align: justify;
    border: 2px solid white;
    border-radius: 15px;
    color: white;
    padding: 15px;
    padding-left: 25px;
    width: 75%;
}
a:hover {
    -webkit-transition: 500ms;
    -moz-transition: 500ms;
    transition: 500ms;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    text-decoration: none;
}
.description {
    display: inline-block;
    color: white;
    font-family: Open Sans;
    font-size: 0.8em;
    margin-left: 40px;
}
.content {
    padding-top: 60px;
}

}
