---
layout: default
permalink: /home/
---

<div class="content">
    {% if site.front_img %}
    <img src="{{ site.front_img_path }}" id="fullscreen">
    {% endif %}

    {% if site.avatar %}
        <img src="{{ site.avatar_img_path }}" id="avatar">
    {% endif %}

    <h1>{{ site.name }}</h1>
    <h3>{{ site.description }}</h3>

    {% include social.html %}

    <hr class="border2">

    <a href="{{ '/about' | prepend: site.baseurl }}" class="button-menu" title="about">about</a>
    <a href="{{ '/post' | prepend: site.baseurl }}" class="button-menu" title="post">post</a>
    <a href="assets/resume_mafernandarodriguezr.pdf" target="_blank" class="button-menu" title="resume">resume</a>

</div>
