<ul>
    <li><a class="fa fa-2x fa-github" href="https://github.com/mafda"><span class="description">GitHub</span></a></li>
    <li><a class="fa fa-2x fa-linkedin" href="https://linkedin.com/in/mafdarodriguezr"><span class="description">LinkedIn</span></a></li>
    <li><a class="fa fa-2x fa-envelope" href="mailto:mafda13@gmail.com"><span class="description">Email</span></a></li>
    <li><a class="fa fa-2x fa-bicycle" href="https://strava.com/athletes/mafda"><span class="description">Strava</span></a></li>
    <li><a class="fa fa-2x fa-book" href="https://www.goodreads.com/mafda"><span class="description">GoodReads</span></a></li>
    <li><a class="fa fa-2x fa-twitter" href="https://twitter.com/mafdaru"><span class="description">Twitter</span></a></li>
</ul>