<!-- Open Graph / Facebook -->
<meta property="og:type" content="website">
<meta property="og:url" content="https://mafda.github.io/">
<meta property="og:title" content="ma. fernanda rodríguez r.  | personal website">
<meta property="og:description" content="i’m maría fernanda, multimedia engineer, m.sc. in mechanical engineering, and ph.d. student in computer engineering.">
<meta property="og:image" content="img/mafda_github_io.png">

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image">
<meta property="twitter:url" content="https://mafda.github.io/">
<meta property="twitter:title" content="ma. fernanda rodríguez r.  | personal website">
<meta property="twitter:description" content="i’m maría fernanda, multimedia engineer, m.sc. in mechanical engineering, and ph.d. student in computer engineering.">
<meta property="twitter:image" content="img/mafda_github_io.png">

